cryptography==1.7.1
Django==1.11.2
django-auth-ldap==1.2.12
django-bootstrap-themes==3.3.6
django-bootstrap-ui==0.4.0
django-cleanup==0.4.2
django-datetime-widget==0.9.3
django-durationfield==0.5.5
django-extensions==1.7.9
django-jquery==2.2.4
django-jquery-ui==1.11.4.1
django-suit==0.2.25
django-suit-locale==1.0.10
django-tag-parser==2.1
dnspython==1.15.0
dominate==2.1.17
enum34==1.1.6
idna==2.2
ipaddress==1.0.17
keyring==10.1
keyrings.alt==1.3
olefile==0.44
Pillow==4.3.0
psycopg2==2.7.1
psycopg2-binary==2.7.4
py-zabbix==1.1.3
pyasn1==0.1.9
pycrypto==2.6.1
pygobject==3.22.0
PySocks==1.5.0
python-apt==1.4.0b3
python-ldap==2.4.10
python-redmine==2.0.2
pytz==2017.3
pyxdg==0.25
PyYAML==3.12
reportlab==3.2.0
requests==2.4.3
SecretStorage==2.3.1
six==1.10.0
