asn1crypto==0.24.0
certifi==2018.8.24
cffi==1.12.2
chardet==3.0.4
configparser
cryptography==2.6.1
Django==1.11.28
django-auth-ldap==1.7.0
django-bootstrap-themes==3.3.6
django-bootstrap-ui==0.5.1
django-datetime-widget==0.9.3
django-durationfield==0.5.5
django-extensions==2.1.4
django-jquery==2.2.4
django-jquery-ui==1.11.4.1
django-suit==0.2.28
django-suit-locale==1.0.10
django-tag-parser==2.1
dnspython==1.16.0
dominate==2.1.17
entrypoints==0.3
enum34==1.1.6
idna==2.6
ipaddress==1.0.17
keyring==17.1.1
keyrings.alt==3.1.1
lxml==4.3.2
olefile==0.46
Pillow==5.4.1
pkgconfig==1.4.0
ply==3.11
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
pycrypto==2.6.1
PySocks==1.6.8
python-ldap==3.4.0
pytz==2019.1
pyxdg==0.25
PyYAML==3.13
requestbuilder
requests==2.21.0
SecretStorage==2.3.1
six==1.12.0
sqlparse==0.2.4
typing==3.7.4.1
urllib3==1.24.1
psycopg2-binary==2.8.6
django-environ==0.4.5
gunicorn==19.10.0
futures==3.4.0
