{% load suit_tags %}
<fieldset class="module aligned first ">
  
  {% if result.username %}
  <div class="control-group form-row field-username ">
    <div>
      <div class="control-label"><label>{{ _('Username') }}:</label></div>
      <div class="controls">
        <input class="readonly" type="text" name="username" value="{{ result.username }}" readonly="true">
      </div>
    </div>
  </div>
  {% endif %}  

  <div class="control-group form-row field-document_number ">
    <div>
      <div class="control-label">
        <label for="id_document_number">{{ _('Document') }}:</label>
      </div>
      <div class="controls">
        <span class="readonly">
          <input class="readonly" type="text"
                 value="{{ result.country_document_number }} &nbsp; {{ result.type_document_number }} &nbsp; {{ result.document_number }}" readonly="true">
        </span>
      </div>
    </div>
  </div>
  
  <div class="control-group form-row field-name ">
    <div>
      <div class="control-label">
        <label for="id_name">{{ _('Name') }}:</label>
      </div>
      <div class="controls">
        <input id="id_name" maxlength="200" name="name" type="text"
               value="{{ result.name }}">
      </div>
    </div>
  </div>
  
  <div class="control-group form-row field-surname ">
    <div>
      <div class="control-label">
        <label for="id_surname">{{ _('Surname') }}:</label>
      </div>
      <div class="controls">
        <input id="id_surname" maxlength="200" name="surname" type="text"
               value="{{ result.surname }}">
      </div>
    </div>
  </div>
  
  <div class="control-group form-row field-email ">
    <div>
      <div class="control-label">
        <label for="id_email">{{ _('Email') }}:</label>
      </div>
      <div class="controls">
        <input id="id_email" maxlength="200" name="email" type="text"
               value="{{ result.email }}">
      </div>
    </div>
  </div>
  
  
  <div class="control-group form-row field-office ">
    <div>
      <div class="control-label">
        <label for="id_office">{{ _('Office') }}:</label>
      </div>
      <div class="controls">
        <input id="id_office" maxlength="200" name="office" type="text"
               value="{{ result.office }}">
      </div>
    </div>
  </div>
  
  <div class="control-group form-row field-telephone_number ">
    <div>
      <div class="control-label">
        <label for="id_telephone_number">{{ _('Telephone_number') }}:</label></div>
      <div class="controls">
        <input id="id_telephone_number" maxlength="200" name="telephone_number" type="text"
               value="{{ result.telephone_number }}">
      </div>
    </div>
  </div>

</fieldset>
{# For closing line #}
{% if 'plugin-holder' in fieldset.classes %}
<hr class="plugin-holder-separator">
{% endif %}
