body {
    padding-top: 70px;
}

.navbar-brand > small {
    font-size: 75%;
}

.navbar-brand > p {
    padding: 0px;
    margin: 0px;
    margin-top: -6px;
    color: #00728f;
}

.logo-header{
    float: left;
    margin-right: 20px;
}
legend {
    font-size: 18px;
}
.icon-pointer{
    cursor: pointer;
}