{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if show_welcome_message %}
<div class="jumbotron">
  <h3>{{ _('welcome_message_title') | safe }}</h3>
  <p>{{ _('welcome_message') | safe}}</p>
</div>
{% endif %}

<div class="panel panel-default">
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr class="active">
          <th>{{ _('Office') }}</th>
          <th>{{ _('Phones') }}</th>
        </tr>
      </thead>
      <tbody>
        {% if offices %}
        {% for person in offices %}
        <tr>
          <td><a href="#">{{ person|default:'' }}-{{person}}</a></td>
          <td> -{{person}}-</td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
</div>



{% endblock %}

