{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load application %}


{% block content %}
<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
<link rel='stylesheet' type='text/css' href="{% static 'css/jquery-ui/smoothness/jquery-ui.css' %}" />

<script>
  $( function() {
    $( "#dialog" ).dialog({
      autoOpen: false,
      show: {
        effect: "highlight",
        duration: 1000
      },
      hide: {
        effect: "fade",
        duration: 1000
      }
    });
  } );
  function show_mail(email){
    email_link = "<a href='mailto:" + email + "'>" + email + "</a>";
    document.getElementById("dialog").innerHTML = email_link;
    $( "#dialog" ).dialog( "open" );
  }
</script>
 
<div id="dialog" title="Email"></div>

<div class="panel panel-default">
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr class="active">
          <th>{{ _('Person') }}</th>
          {% if show_extra_info %}
          <th>{{ _('Username') }}</th>
          <th>{{ _('Host_name') }}</th>
          {% endif %}
	  <th>{{ _('Phone') }}</th>
          <th>{{ _('Office') }}</th>
          <th>{{ _('Area') }}</th>
          {% if show_extra_info %}
          <th>{{ _('Floor') }}</th>
          <th>{{ _('Position') }}</th>
          {% endif %}
          <th>{{ _('Email') }}</th>
        </tr>
      </thead>
      <tbody>
        {% if people %}
        {% for person in people %}
        <tr>
          <td>{{ person.surname|default:'' }}, {{ person.name|default:'' }} </td>
          {% if show_extra_info %}
          <td>{{ person.username|default:'' }} </td>
          <td title="{{ _('Last_login') }}: {{ person.info_last_login|default:'' }}">
            {{ person.host_name|default:'' }} </td>
	  {% endif %}
	  <td>
	      {% if "True"|phone_exchange_by_rank_enable %}
	        {% for t in person.telephone_number|phone_exchange_by_rank %}
	          {% if t.1 %}
	            {{ t.1 }} / {{ t.0 }}
	          {% else %}
	            {{ t.0 }}
	          {% endif %}
	          {% if person.telephone_number|phone_exchange_by_rank|length != forloop.counter %}, &nbsp{% endif %}
	        {% endfor %}
	      {% else %}
	        {{ person.telephone_number }}
	      {% endif %}
	  </td>
          <td>{{ person.office|default:'' }} </td>
          <td>{{ person.area|default:'' }} </td>
          {% if show_extra_info %}
          <td>{{ person.floor|default:'' }} </td>
          <td>{{ person.position|default:'' }}</td>
          {% endif %}
          {% if person.email %}
          <td title="{{ _('view_email') }}">
            <i class="glyphicon glyphicon-envelope icon-pointer"
               onclick="show_mail('{{ person.email|default:'' }}')"></i>
          </td>
          {% else %}
          <td></td>
          {% endif %}
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}

