{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="panel panel-default">
  <div class="table-responsive">
  <table class="table table-striped table-hover ">
    <thead>
      <tr class="active">
        <th>{{ _('Person') }}</th>
        <th>{{ _('Office') }}</th>
        <th>{{ _('Phone') }}</th>
      </tr>
    </thead>
    <tbody>
      {% if people %}
      {% for person in people %}
      <tr>
        <td>{{ person.surname }}, {{ person.name }}</td>
        <td>{{ person.office }}</td>
        <td>{{ person.telephone_number }}</td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>
</div>

{% endblock %}

