{% autoescape off %}
Hola {{ user.username }},

La contraseña de su cuenta asociada al correo {{ user.email }} fué recientemente modificada.
Si ha hecho este cambio, ignore este correo, el proceso de restauración ha finalizado.

Si no intentó reestablecer la contraseña, es posible que alguien haya ingresado en su cuenta. Por favor, pongase en contacto con nosotros, o bien restablezca su contraseña ingresando al siguiente enlace http://{{ domain }}{% url 'auth_password_reset' %}

{{ _('email_footer') | safe }}

{% endautoescape %}
